body{
	overflow: hidden;
	/*no scroll bar*/
	width: 90vw;
	height: 90vh;
	padding: 0;
	margin: 0;
	font-family: Arial;
}

.balloon{
	width: 100px;
	height: 200px;
	position: absolute;
	top: 100vh;
	/*balloons are placed under the screen*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.balloon-red{
	background-image: url(../images/balloon-red.png);
}

.balloon-yellow{
	background-image: url(../images/balloon-yellow.png);
}

.balloon-green{
	background-image: url(../images/balloon-green.png);
}

.balloon-blue{
	background-image: url(../images/balloon-blue.png);
}

.balloon-violet{
	background-image: url(../images/balloon-violet.png);
}

.balloon-cat1{
	background-image: url(../images/cat1.png);
	width: 200px;
}

.balloon-cat2{
	background-image: url(../images/cat2.png);
	width: 300px;
}

.total-shadow{
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	z-index: 50;
	position: relative;
	/*b/c z-index does not work with position static*/
}

.lose, .win{
	display: none;
}


.total-block{
	background: white;
	padding: 10px 100px 40px;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.total-shadow img{
	width: 500px;
}

.score-block{
	background: #efefef;
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0px 0px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
}
