.mt20{
	margin-top: 20px;
}


footer{
	height: 50px;
	margin-top: 50px;
}

.copyright{
	line-height:30px;
}

footer .container, footer .row{
	height: 100%;
}

footer .copyright, footer .btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-wrapper{
	margin: 50px auto;
	box-shadow:0 0 10px #ccc;
	border-radius: 10px;
	padding: 20px 15px;
}

.page-wrapper h1{
	text-align: center;
	margin-bottom: 20px;
}

.card-block{
	padding: 15px;
}

.w100{
	width: 100%;
}

.w60{
	width: 60%;
}

.w30{
	width: 30%;
}

.w20{
	width: 20%;
}

.w10{
	width: 10%;
}

.w5{
	width: 5%;
}

.articles{
	margin-top: 15px;
}

.article-inline{
	padding-left: 15px;
	flex-wrap: wrap;
}

.article-inline:nth-of-type(odd){
	background:rgba(0,0,0,0.05);
}

.sight-container{
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	padding: 15px 50px;
}

.sight-container h1{
	text-align: center;
}

.sight-container img{
	width: 100%;
}

.sight-container .date{
	font-weight: bold;
	text-align: right;
}

.sight-container img{
	max-height:300px;
	width:auto;
	display: block;
	margin: 0 auto;
}

#map{
	height:300px;
	width:500px;
	display: block;
	margin: 20px auto;
}

.login-container{
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	margin-top:50px;
	padding: 30px 25px 35px;
}

.login-container h1{
	text-align: center;
	margin-bottom: 20px;
}

#myTabContent{
	margin-top: 20px;
}

.login-container .btn{
	margin-top: 15px;
}